<h2>Sign Up</h2>


<% if (typeof signupErrorMsg != 'undefined' && signupErrorMsg) { %>
  <p class="alert"><%- signupErrorMsg %></p>
<% } %>

<form class="signup-form" action="/signup" method="post">
  <div class="input-group">
    <label for="email" class="signup-label">이메일</label>
    <input type="email" name="email" id="check-email" autocomplete="off">
    <p id="err-msg-email" class="err-msg"></p>
  </div>

  <div class="input-group">
    <label for="nickname" class="signup-label">닉네임</label>
    <input type="text" id="check-nickname" name="nickname">
    <p id="err-msg-nickname" class="err-msg"></p>
  </div>

  <div class="input-group">
    <label for="phone" class="signup-label">휴대폰 번호</label>
    <input type="text" name="phone" id="check-phone" placeholder="010-xxxx-xxxx">
    <p id="err-msg-phone" class="err-msg"></p>
  </div>

  <div class="input-group">
    <label for="addr" class="signup-label">주소</label>
    <input type="text" id="zipcode" name="zipcode" placeholder="우편번호" readonly> 
    <input type="text" id="addr_full" name="addr_full" placeholder="주소를 검색하세요." readonly> 
    <button id="search-addr">검색</button><br>
    <input type="text" id="addr_detail" name="addr_detail" placeholder="상세주소">
    <p id="err-msg-addr" class="err-msg"></p>
  </div>

  <div>
    <div class="input-group">
      <label for="password1" class="signup-label">비밀번호</label>
      <input type="password" id="check-pw1" name="password1" autocomplete="off">
    </div>
    
    <div class="input-group">
      <label for="password2" class="signup-label">비밀번호 확인</label>
      <input type="password" id="check-pw2" name="password2" autocomplete="off">
    </div>
    
    <p id="err-msg-pw1" class="err-msg"></p>
    <p id="err-msg-pw2" class="err-msg"></p>
  </div>

  <input type="submit" id="signup-submit" class="sign_btn" value="완료" disabled="true">
</form>

<script src="/js/signup.js" type="text/javascript"></script>