<form action="/signin" method="post">
  <div class="input-group">
    <input type="text" name="email" placeholder="이메일">
  </div>

  <div class="input-group">
    <input type="password" name="password" placeholder="비밀번호">
  </div>

  <input type="submit" value="로그인">
</form>